$font-stack: 'Lato', sans-serif;
$font-size: 24px;

// $primary-color: #333;
// $green-color: #89c331;
// $red-color: #dd33bb;
// $blue-color: #282bff;
// $brown-color: #440000;

$font-color-grey: rgba(63, 64, 67, 1);
$font-color-grey-light: rgba(203, 204, 206, 1);
$font-color-green: rgba(172, 216, 173, 1);


