@import '_variables';

html {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color-grey;
}
a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none;
}
#container {
  width: 100%;
  display: grid;

  header {
    grid-area: header0;
    width: 100%;
    position: relative;
    background: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__menu {
      display: flex;
      .header__menu-items {
        list-style: none;
        display: flex;
      }
    }
    .header__logo {
      width: 104px;
      height: 83px;
      background-image: url('../img/logo.png');
      background-size: 100%;
    }
  }
  .brand-image-big {
    grid-area: brand-big;
    background: url('../img/brand-img1.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 700; 
    .brand-img-big__title{
      color: rgba(255, 255, 255, 1);
      text-align: left;
    }
    .brand-img-big__site-name {
      display: block;
      color: rgba(166, 214, 224, 1);
      text-align: left;
    }
  }
  .brand-small {
    display: flex;
    &:nth-last-of-type(1) {
      grid-area: brand-small1;
    }
    &:nth-last-of-type(2) {
      grid-area: brand-small2;
    }
    &:nth-last-of-type(3) {
      grid-area: brand-small3;
    }

    .brand-image-small {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      &.brand-item1 {
        background: url('../img/brand-img2.png') no-repeat;
        background-size: 100% auto;
        background-position: bottom;
      }
      &.brand-item2 {
        background: url('../img/brand-img3.png') no-repeat;
        background-size: 100% auto;
        background-position: bottom;
      }
      &.brand-item3 {
        background: url('../img/brand-img4.png') no-repeat;
        background-size: 100% auto;
        background-position: bottom;
      }
      .brand-img-small__title {
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .menu-section__title {
    grid-area: menu-title;
    display: flex;
    justify-content: space-between;
    .menu-section__title-text {
      text-align: left;
      align-self: center;
      .menu-section__title-text-title {
        text-transform: uppercase;
        color: $font-color-grey;
      }
      .menu-section__title-text-description {
        color: $font-color-grey-light;
      }
    }
    .menu-section__title-img {
      align-self: flex-end;
      background: url(../img/menu-logo.png) no-repeat;
      background-size: 100%;
    }
  }
  .menu-section {
    &.menu1 {
      grid-area: menu1;
      .menu-section__menu-title {
        background: $font-color-grey;
        color: $font-color-green;
        text-transform: uppercase;
      }
    }
    &.menu2 {
      grid-area: menu2;
      .menu-section__menu-title {
        background: $font-color-green;
        color: white;
        text-transform: uppercase;
      }
    }
    .menu-section__menu-block-title {
      position: relative;
      text-transform: uppercase;
      color: $font-color-grey;
      .sprite {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../img/sprite_icons.png) no-repeat;
      }
    }
    .menu-block__product {
      position: relative;
      color: $font-color-grey;
      .menu-block__product-price {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
      }
    }
  }
  footer {
    grid-area: footer0;
    display: flex;
    background: $font-color-green;
    .footer__logo {
      width: 104px;
      height: 83px;
      background-image: url('../img/logo.png');
      background-size: 100%;
    }
    .footer__general-info {
      display: flex;
      .footer__general-info-text {
        color: white;
      }
    }
  }
}

@media screen and (min-width: 1200px){
  #container {
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr;
    grid-template-rows: 97px 649px 400px 154px auto 97px;
    grid-template-areas: 
      "header0 header0 header0 header0"
      "brand-big brand-big brand-big brand-big"
      "brand-small1 brand-small2 brand-small2 brand-small3"
      "menu-title menu-title menu-title menu-title"
      "menu1 menu1 menu2 menu2"
      "footer0 footer0 footer0 footer0";
      header {
        .header__menu-title, .header__menu-hamburger {
          display: none;
        }
        .header__logo {
          display: block;
          margin: 0 38px 0 0;
        }
        .header__menu {
          margin: 0 0 0 38px;
          align-items: center;
          .header__menu-items {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .header__menu-item > a{
              color: rgba(235, 235, 235, 1);
              text-transform: uppercase;
              font-size: $font-size * 3/4;
              padding: 0 32px 0 0 ;
            }
          }
        }
      }
      .brand-image-big {
        padding: 58px 0 0 37px;
        margin-bottom: 6px;
        .brand-img-big__title {
          font-size: $font-size * 3;
        }
        .brand-img-big__site-name {
          margin: 53px 0 0 0;
          font-size: $font-size * 2;
        }
      }
      .brand-small{
        .brand-image-small {
          .brand-img-small__title {
            font-size: $font-size * 5/3;
          }
        }
      }
      .menu-section__title {
        .menu-section__title-text {
          align-self: flex-end;
          margin: 0 0 15px 23px;
          .menu-section__title-text-title {
            font-size: $font-size * 5/3;
          }
          .menu-section__title-text-description {
            font-size: $font-size * 5/6;
          }
        }
        .menu-section__title-img {
          align-self: flex-end;
          display: block;
          width: 120px;
          height: 98px;
          margin: 0 15px 15px 0;
        }
      }
      .menu-section.menu1, .menu-section.menu2 {
        .menu-section__menu-title {
          padding: 23px 0 23px 16px;
          font-size: $font-size * 5/3;
        }
        .menu-section__menu-block-title {
          font-size: $font-size * 4/3;
          margin: 38px 16px;
          .sprite {
            top: -5px;
            &.sprite-Layer-1 {
              width: 49px;
              height: 48px;
              background-position: -5px -57px;
            }
            &.sprite-Layer-2 {
              width: 27px;
              height: 48px;
              background-position: -129px -5px;
            }
            &.sprite-Layer-3 {
                width: 61px;
                height: 42px;
                background-position: -5px -5px;
            }
            &.sprite-Layer-4 {
                width: 43px;
                height: 42px;
                background-position: -76px -5px;
            }
          }
        }
        .menu-block__product {
          margin: 0 16px 22px 16px;
          .menu-block__product-name {
            font-size: $font-size * 8/7;
            margin: 0 0 20px 0;
          }
          .menu-block__product-price {
            font-size: $font-size * 8/7;
          }
          .menu-block__product-description {
            font-size: $font-size * 5/7;
          }
        }
      }
      footer {
        justify-content: space-between;
        align-items: center;
        padding: 0 38px;
        .footer__logo {
          display: block;
        }
        .footer__general-info {
          justify-content: flex-end;
          flex-direction: row;
          .footer__general-info-text {
            font-size: $font-size * 5/7;
          }
        }
      }
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px){
  #container {
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr;
    grid-template-rows: 97px 530px 327px 150px auto 97px;
    grid-template-areas: 
    "header0 header0 header0 header0"
    "brand-big brand-big brand-big brand-big"
    "brand-small1 brand-small2 brand-small2 brand-small3"
    "menu-title menu-title menu-title menu-title"
    "menu1 menu1 menu2 menu2"
    "footer0 footer0 footer0 footer0";
    header {
      .header__menu-title, .header__menu-hamburger {
        display: none;
      }
      .header__logo {
        display: block;
        margin: 0 30px 0 0;
      }
      .header__menu {
        margin: 0 0 0 30px;
        align-items: center;
        .header__menu-items {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .header__menu-item > a{
            color: rgba(235, 235, 235, 1);
            text-transform: uppercase;
            font-size: $font-size * 3/4;
            padding: 0 30px 0 0 ;
          }
        }
      }
    }
    .brand-image-big {
      padding: 58px 0 0 37px;
      margin-bottom: 6px;
      .brand-img-big__title {
        font-size: $font-size * 8/3;
      }
      .brand-img-big__site-name {
        margin: 53px 0 0 0;
        font-size: $font-size * 5/3;
      }
    }
    .brand-small{
      .brand-image-small {
        .brand-img-small__title {
          font-size: $font-size * 7/4;
        }
      }
    }
    .menu-section__title {
      .menu-section__title-text {
        align-self: center;
        margin: 50px 0 10px 30px;
        .menu-section__title-text-title {
          font-size: $font-size * 7/4;
        }
        .menu-section__title-text-description {
          font-size: $font-size * 7/8;
        }
      }
      .menu-section__title-img {
        align-self: flex-end;
        display: block;
        width: 109px;
        height: 89px;
        margin: 0 30px 10px 0;
      }
    }
    .menu-section.menu1, .menu-section.menu2 {
      .menu-section__menu-title {
        padding: 27px 0 23px 15px;
        font-size: $font-size * 7/4;
      }
      .menu-section__menu-block-title {
        font-size: $font-size * 9/7;
        margin: 41px 16px;
        .sprite {
          top: -5px;
          background-size: 138px 94px;
          &.sprite-Layer-1 {
            width: 42px;
            height: 42px;
            background-position: -4px -49px;
          }
          &.sprite-Layer-2 {
            width: 25px;
            height: 44px;
            background-position: -109px -4px;
          }
          &.sprite-Layer-3 {
              width: 56px;
              height: 39px;
              background-position: -4px -4px;
          }
          &.sprite-Layer-4 {
              width: 40px;
              height: 39px;
              background-position: -60px -4px;
          }
        }
      }
      .menu-block__product {
        margin: 0 16px 28px 16px;
        .menu-block__product-name {
          font-size: $font-size * 8/7;
          margin: 0 0 17px 0;
        }
        .menu-block__product-price {
          font-size: $font-size * 8/7;
        }
        .menu-block__product-description {
          font-size: $font-size * 5/7;
        }
      }
    }
    footer {
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      .footer__logo {
        display: block;
      }
      .footer__general-info {
        justify-content: flex-end;
        flex-direction: row;
        .footer__general-info-text {
          font-size: $font-size * 6/7;
        }
      }
    }
  }
}
@media screen and (min-width: 640px) and (max-width: 979px){
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 74px 346px repeat(3, 150px) 126px auto auto 97px;
    grid-template-areas: 
    "header0"
    "brand-big"
    "brand-small1"
    "brand-small2" 
    "brand-small3"
    "menu-title"
    "menu1"
    "menu2"
    "footer0";
    header {
      .header__menu-hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #202529;
        width: 74px;
        height: 74px;
      }
      .header__logo {
        display: none;
      }
      .header__menu-title {
        display: block;
        margin: 0 0 0 38px;
        color: rgba(255, 255, 255, 1);
        font-size: $font-size * 5/4;
        text-transform: capitalize;
      }
      .header__menu {
        position: absolute;
        right: 0;
        top: 74px;
        .header__menu-items{
          flex-direction: column;
          justify-content: space-around;
          .header__menu-item {
            background: #fafafa;
            padding: 12px 130px 16px 27px;
            border: 1px solid #e9e9e9;
            a {
              color: rgba(68, 68, 68, 1);
              text-transform: capitalize;
              font-size: $font-size * 5/7;
            }
          }
        }
      }
    }
    .brand-image-big {
      margin-bottom: 5px;
      padding: 30px 0 0 38px;
      .brand-img-big__title {
        font-size: $font-size * 7/4;
      }
      .brand-img-big__site-name {
        margin: 22px 0 0 0;
        font-size: $font-size * 5/4;
      }
    }
    .brand-small{
      margin-bottom: 1px;
      .brand-image-small {
        .brand-img-small__title {
          font-size: $font-size * 7/4;
        }
      }
      &:after {
        content: '\003e';
        width: 142px;
        height: 149px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $font-color-green;
        color: white;
        font-size: $font-size * 2;
      }
    }
    .menu-section__title {
      .menu-section__title-text {
        margin: 45px 15px 20px 20px;
        .menu-section__title-text-title {
          font-size: $font-size * 7/5;
        }
        .menu-section__title-text-description {
          font-size: $font-size * 7/10;
        }
      }
      .menu-section__title-img {
        display: none;
      }
    }
    .menu-section.menu1, .menu-section.menu2 {
      .menu-section__menu-title {
        padding: 23px 0 23px 38px;
        font-size: $font-size * 7/5;
      }
      .menu-section__menu-block-title {
        font-size: $font-size * 8/7;
        margin: 37px;
        .sprite {
          background-size: 161px 110px;
          &.sprite-Layer-1 {
            width: 49px;
            height: 48px;
            background-position: -5px -57px;
          }
          &.sprite-Layer-2 {
            width: 27px;
            height: 48px;
            background-position: -129px -5px;
          }
          &.sprite-Layer-3 {
              width: 61px;
              height: 42px;
              background-position: -5px -5px;
          }
          &.sprite-Layer-4 {
              width: 43px;
              height: 42px;
              background-position: -76px -5px;
          }
        }
      }
      .menu-block__product {
        margin: 0 37px 22px 37px;
        .menu-block__product-name {
          font-size: $font-size * 8/7;
          margin: 0 0 16px 0;
        }
        .menu-block__product-price {
          font-size: $font-size * 8/7;
        }
        .menu-block__product-description {
          font-size: $font-size * 6/7;
        }
      }
    }
    footer {
      justify-content: center;
      .footer__logo {
        display: none;
      }
      .footer__general-info {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        .footer__general-info-text {
          font-size: $font-size * 5/6;
        }
      }
    }
  }
}
@media screen and (max-width: 639px){
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 37px 173px repeat(3, 75px) 66px auto auto 55px;
    grid-template-areas: 
    "header0"
    "brand-big"
    "brand-small1"
    "brand-small2" 
    "brand-small3"
    "menu-title"
    "menu1"
    "menu2"
    "footer0";
    header{
      .header__menu-hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #202529;
        width: 37px;
        height: 37px;
      }
      .header__logo {
        display: none;
      }
      .header__menu-title {
        display: block;
        margin: 0 0 0 19px;
        color: rgba(255, 255, 255, 1);
        font-size: $font-size * 3/7;
        text-transform: capitalize;
      }
      .header__menu {
        position: absolute;
        right: 0;
        top: 37px;
        .header__menu-items{
          flex-direction: column;
          justify-content: space-around;
          .header__menu-item {
            background: #fafafa;
            padding: 0 96px 7px 12px;
            border: 1px solid #e9e9e9;
            a {
              color: rgba(68, 68, 68, 1);
              text-transform: capitalize;
              font-size: $font-size * 3/7;
            }
          }
        }
      }
    }
    .brand-image-big {
      margin-bottom: 4px;
      padding: 19px 0 0 20px;
      .brand-img-big__title {
        font-size: $font-size * 4/5;
      }
      .brand-img-big__site-name {
        margin: 11px 0 0 0;
        font-size: $font-size * 3/5;
      }
    }
    .brand-small{
      margin-bottom: 1px;
      .brand-image-small {
        .brand-img-small__title {
          font-size: $font-size * 3/4;
        }
      }
      &:after {
        content: '\003e';
        width: 71px;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $font-color-green;
        color: white;
        font-size: $font-size * 3/2;
      }
    }
    .menu-section__title {
      .menu-section__title-text {
        margin: 26px 10px 10px 10px;
        .menu-section__title-text-title {
          font-size: $font-size * 3/4;
        }
        .menu-section__title-text-description {
          font-size: $font-size * 3/8;
        }
      }
      .menu-section__title-img {
        display: none;
      }
    }
    .menu-section.menu1, .menu-section.menu2 {
      .menu-section__menu-title {
        padding: 11px 0 11px 19px;
        font-size: $font-size * 3/4;
      }
      .menu-section__menu-block-title {
        font-size: $font-size * 5/7;
        margin: 19px;
        .sprite {
          background-size: 80.5px 55px;
          &.sprite-Layer-1 {
            width: 25px;
            height: 25px;
            background-position: -3px -28px;
          }
          &.sprite-Layer-2 {
            width: 13px;
            height: 24px;
            background-position: -65px -3px;
          }
          &.sprite-Layer-3 {
              width: 30px;
              height: 21px;
              background-position: -3px -3px;
          }
          &.sprite-Layer-4 {
              width: 21px;
              height: 20px;
              background-position: -38px -3px;
          }
        }
      }
      .menu-block__product {
        margin: 0 19px 11px 19px;
        .menu-block__product-name {
          font-size: $font-size * 5/7;
          margin: 0 0 8px 0;
        }
        .menu-block__product-price {
          font-size: $font-size * 5/7;
        }
        .menu-block__product-description {
          font-size: $font-size * 4/7;
        }
      }
    }
    footer {
      justify-content: center;
      .footer__logo {
        display: none;
      }
      .footer__general-info {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .footer__general-info-text {
          font-size: $font-size * 5/8;
        }
      }
    }
  }
}