$color-background-1: #1aa731;
$color-background-2: #ebecf0;
$color-background-3: rgba($color: #091E42, $alpha: 0.08);
$color-background-4: rgba($color: #091E42, $alpha: 0.18);
$color-font-1: #172b4d;
$color-font-2: #4a5a75;
$font-size-main: 30px;
$margin-dimmension: 30px;
$padding-dimmension: 30px;

body {
    margin: 0;
    .container {
        &.film-list {
            .card {
                margin: $margin-dimmension / 6 0;
            }
            .row {
                .card {
                    &:hover {
                        cursor: pointer;
                        background-color: $color-background-4;
                    }
                    .character-card {
                        min-height: 50px;
                        text-align: center;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}