html {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #3f4043; }

a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none; }

#container {
  width: 100%;
  display: grid; }
  #container header {
    grid-area: header0;
    width: 100%;
    position: relative;
    background: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #container header .header__menu {
      display: flex; }
      #container header .header__menu .header__menu-items {
        list-style: none;
        display: flex; }
    #container header .header__logo {
      width: 104px;
      height: 83px;
      background-image: url("../img/logo.png");
      background-size: 100%; }
  #container .brand-image-big {
    grid-area: brand-big;
    background: url("../img/brand-img1.png") no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 700; }
    #container .brand-image-big .brand-img-big__title {
      color: white;
      text-align: left; }
    #container .brand-image-big .brand-img-big__site-name {
      display: block;
      color: #a6d6e0;
      text-align: left; }
  #container .brand-small {
    display: flex; }
    #container .brand-small:nth-last-of-type(1) {
      grid-area: brand-small1; }
    #container .brand-small:nth-last-of-type(2) {
      grid-area: brand-small2; }
    #container .brand-small:nth-last-of-type(3) {
      grid-area: brand-small3; }
    #container .brand-small .brand-image-small {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center; }
      #container .brand-small .brand-image-small.brand-item1 {
        background: url("../img/brand-img2.png") no-repeat;
        background-size: 100% auto;
        background-position: bottom; }
      #container .brand-small .brand-image-small.brand-item2 {
        background: url("../img/brand-img3.png") no-repeat;
        background-size: 100% auto;
        background-position: bottom; }
      #container .brand-small .brand-image-small.brand-item3 {
        background: url("../img/brand-img4.png") no-repeat;
        background-size: 100% auto;
        background-position: bottom; }
      #container .brand-small .brand-image-small .brand-img-small__title {
        font-weight: 700;
        color: white; }
  #container .menu-section__title {
    grid-area: menu-title;
    display: flex;
    justify-content: space-between; }
    #container .menu-section__title .menu-section__title-text {
      text-align: left;
      align-self: center; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-title {
        text-transform: uppercase;
        color: #3f4043; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-description {
        color: #cbccce; }
    #container .menu-section__title .menu-section__title-img {
      align-self: flex-end;
      background: url(../img/menu-logo.png) no-repeat;
      background-size: 100%; }
  #container .menu-section.menu1 {
    grid-area: menu1; }
    #container .menu-section.menu1 .menu-section__menu-title {
      background: #3f4043;
      color: #acd8ad;
      text-transform: uppercase; }
  #container .menu-section.menu2 {
    grid-area: menu2; }
    #container .menu-section.menu2 .menu-section__menu-title {
      background: #acd8ad;
      color: white;
      text-transform: uppercase; }
  #container .menu-section .menu-section__menu-block-title {
    position: relative;
    text-transform: uppercase;
    color: #3f4043; }
    #container .menu-section .menu-section__menu-block-title .sprite {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: url(../img/sprite_icons.png) no-repeat; }
  #container .menu-section .menu-block__product {
    position: relative;
    color: #3f4043; }
    #container .menu-section .menu-block__product .menu-block__product-price {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700; }
  #container footer {
    grid-area: footer0;
    display: flex;
    background: #acd8ad; }
    #container footer .footer__logo {
      width: 104px;
      height: 83px;
      background-image: url("../img/logo.png");
      background-size: 100%; }
    #container footer .footer__general-info {
      display: flex; }
      #container footer .footer__general-info .footer__general-info-text {
        color: white; }

@media screen and (min-width: 1200px) {
  #container {
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr;
    grid-template-rows: 97px 649px 400px 154px auto 97px;
    grid-template-areas: "header0 header0 header0 header0" "brand-big brand-big brand-big brand-big" "brand-small1 brand-small2 brand-small2 brand-small3" "menu-title menu-title menu-title menu-title" "menu1 menu1 menu2 menu2" "footer0 footer0 footer0 footer0"; }
    #container header .header__menu-title, #container header .header__menu-hamburger {
      display: none; }
    #container header .header__logo {
      display: block;
      margin: 0 38px 0 0; }
    #container header .header__menu {
      margin: 0 0 0 38px;
      align-items: center; }
      #container header .header__menu .header__menu-items {
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        #container header .header__menu .header__menu-items .header__menu-item > a {
          color: #ebebeb;
          text-transform: uppercase;
          font-size: 18px;
          padding: 0 32px 0 0; }
    #container .brand-image-big {
      padding: 58px 0 0 37px;
      margin-bottom: 6px; }
      #container .brand-image-big .brand-img-big__title {
        font-size: 72px; }
      #container .brand-image-big .brand-img-big__site-name {
        margin: 53px 0 0 0;
        font-size: 48px; }
    #container .brand-small .brand-image-small .brand-img-small__title {
      font-size: 40px; }
    #container .menu-section__title .menu-section__title-text {
      align-self: flex-end;
      margin: 0 0 15px 23px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-title {
        font-size: 40px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-description {
        font-size: 20px; }
    #container .menu-section__title .menu-section__title-img {
      align-self: flex-end;
      display: block;
      width: 120px;
      height: 98px;
      margin: 0 15px 15px 0; }
    #container .menu-section.menu1 .menu-section__menu-title, #container .menu-section.menu2 .menu-section__menu-title {
      padding: 23px 0 23px 16px;
      font-size: 40px; }
    #container .menu-section.menu1 .menu-section__menu-block-title, #container .menu-section.menu2 .menu-section__menu-block-title {
      font-size: 32px;
      margin: 38px 16px; }
      #container .menu-section.menu1 .menu-section__menu-block-title .sprite, #container .menu-section.menu2 .menu-section__menu-block-title .sprite {
        top: -5px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-1, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-1 {
          width: 49px;
          height: 48px;
          background-position: -5px -57px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-2, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-2 {
          width: 27px;
          height: 48px;
          background-position: -129px -5px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-3, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-3 {
          width: 61px;
          height: 42px;
          background-position: -5px -5px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-4, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-4 {
          width: 43px;
          height: 42px;
          background-position: -76px -5px; }
    #container .menu-section.menu1 .menu-block__product, #container .menu-section.menu2 .menu-block__product {
      margin: 0 16px 22px 16px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-name, #container .menu-section.menu2 .menu-block__product .menu-block__product-name {
        font-size: 27.42857px;
        margin: 0 0 20px 0; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-price, #container .menu-section.menu2 .menu-block__product .menu-block__product-price {
        font-size: 27.42857px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-description, #container .menu-section.menu2 .menu-block__product .menu-block__product-description {
        font-size: 17.14286px; }
    #container footer {
      justify-content: space-between;
      align-items: center;
      padding: 0 38px; }
      #container footer .footer__logo {
        display: block; }
      #container footer .footer__general-info {
        justify-content: flex-end;
        flex-direction: row; }
        #container footer .footer__general-info .footer__general-info-text {
          font-size: 17.14286px; } }

@media screen and (min-width: 980px) and (max-width: 1199px) {
  #container {
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr;
    grid-template-rows: 97px 530px 327px 150px auto 97px;
    grid-template-areas: "header0 header0 header0 header0" "brand-big brand-big brand-big brand-big" "brand-small1 brand-small2 brand-small2 brand-small3" "menu-title menu-title menu-title menu-title" "menu1 menu1 menu2 menu2" "footer0 footer0 footer0 footer0"; }
    #container header .header__menu-title, #container header .header__menu-hamburger {
      display: none; }
    #container header .header__logo {
      display: block;
      margin: 0 30px 0 0; }
    #container header .header__menu {
      margin: 0 0 0 30px;
      align-items: center; }
      #container header .header__menu .header__menu-items {
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        #container header .header__menu .header__menu-items .header__menu-item > a {
          color: #ebebeb;
          text-transform: uppercase;
          font-size: 18px;
          padding: 0 30px 0 0; }
    #container .brand-image-big {
      padding: 58px 0 0 37px;
      margin-bottom: 6px; }
      #container .brand-image-big .brand-img-big__title {
        font-size: 64px; }
      #container .brand-image-big .brand-img-big__site-name {
        margin: 53px 0 0 0;
        font-size: 40px; }
    #container .brand-small .brand-image-small .brand-img-small__title {
      font-size: 42px; }
    #container .menu-section__title .menu-section__title-text {
      align-self: center;
      margin: 50px 0 10px 30px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-title {
        font-size: 42px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-description {
        font-size: 21px; }
    #container .menu-section__title .menu-section__title-img {
      align-self: flex-end;
      display: block;
      width: 109px;
      height: 89px;
      margin: 0 30px 10px 0; }
    #container .menu-section.menu1 .menu-section__menu-title, #container .menu-section.menu2 .menu-section__menu-title {
      padding: 27px 0 23px 15px;
      font-size: 42px; }
    #container .menu-section.menu1 .menu-section__menu-block-title, #container .menu-section.menu2 .menu-section__menu-block-title {
      font-size: 30.85714px;
      margin: 41px 16px; }
      #container .menu-section.menu1 .menu-section__menu-block-title .sprite, #container .menu-section.menu2 .menu-section__menu-block-title .sprite {
        top: -5px;
        background-size: 138px 94px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-1, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-1 {
          width: 42px;
          height: 42px;
          background-position: -4px -49px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-2, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-2 {
          width: 25px;
          height: 44px;
          background-position: -109px -4px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-3, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-3 {
          width: 56px;
          height: 39px;
          background-position: -4px -4px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-4, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-4 {
          width: 40px;
          height: 39px;
          background-position: -60px -4px; }
    #container .menu-section.menu1 .menu-block__product, #container .menu-section.menu2 .menu-block__product {
      margin: 0 16px 28px 16px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-name, #container .menu-section.menu2 .menu-block__product .menu-block__product-name {
        font-size: 27.42857px;
        margin: 0 0 17px 0; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-price, #container .menu-section.menu2 .menu-block__product .menu-block__product-price {
        font-size: 27.42857px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-description, #container .menu-section.menu2 .menu-block__product .menu-block__product-description {
        font-size: 17.14286px; }
    #container footer {
      justify-content: space-between;
      align-items: center;
      padding: 0 30px; }
      #container footer .footer__logo {
        display: block; }
      #container footer .footer__general-info {
        justify-content: flex-end;
        flex-direction: row; }
        #container footer .footer__general-info .footer__general-info-text {
          font-size: 20.57143px; } }

@media screen and (min-width: 640px) and (max-width: 979px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 74px 346px repeat(3, 150px) 126px auto auto 97px;
    grid-template-areas: "header0" "brand-big" "brand-small1" "brand-small2"  "brand-small3" "menu-title" "menu1" "menu2" "footer0"; }
    #container header .header__menu-hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #202529;
      width: 74px;
      height: 74px; }
    #container header .header__logo {
      display: none; }
    #container header .header__menu-title {
      display: block;
      margin: 0 0 0 38px;
      color: white;
      font-size: 30px;
      text-transform: capitalize; }
    #container header .header__menu {
      position: absolute;
      right: 0;
      top: 74px; }
      #container header .header__menu .header__menu-items {
        flex-direction: column;
        justify-content: space-around; }
        #container header .header__menu .header__menu-items .header__menu-item {
          background: #fafafa;
          padding: 12px 130px 16px 27px;
          border: 1px solid #e9e9e9; }
          #container header .header__menu .header__menu-items .header__menu-item a {
            color: #444444;
            text-transform: capitalize;
            font-size: 17.14286px; }
    #container .brand-image-big {
      margin-bottom: 5px;
      padding: 30px 0 0 38px; }
      #container .brand-image-big .brand-img-big__title {
        font-size: 42px; }
      #container .brand-image-big .brand-img-big__site-name {
        margin: 22px 0 0 0;
        font-size: 30px; }
    #container .brand-small {
      margin-bottom: 1px; }
      #container .brand-small .brand-image-small .brand-img-small__title {
        font-size: 42px; }
      #container .brand-small:after {
        content: '\003e';
        width: 142px;
        height: 149px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #acd8ad;
        color: white;
        font-size: 48px; }
    #container .menu-section__title .menu-section__title-text {
      margin: 45px 15px 20px 20px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-title {
        font-size: 33.6px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-description {
        font-size: 16.8px; }
    #container .menu-section__title .menu-section__title-img {
      display: none; }
    #container .menu-section.menu1 .menu-section__menu-title, #container .menu-section.menu2 .menu-section__menu-title {
      padding: 23px 0 23px 38px;
      font-size: 33.6px; }
    #container .menu-section.menu1 .menu-section__menu-block-title, #container .menu-section.menu2 .menu-section__menu-block-title {
      font-size: 27.42857px;
      margin: 37px; }
      #container .menu-section.menu1 .menu-section__menu-block-title .sprite, #container .menu-section.menu2 .menu-section__menu-block-title .sprite {
        background-size: 161px 110px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-1, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-1 {
          width: 49px;
          height: 48px;
          background-position: -5px -57px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-2, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-2 {
          width: 27px;
          height: 48px;
          background-position: -129px -5px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-3, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-3 {
          width: 61px;
          height: 42px;
          background-position: -5px -5px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-4, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-4 {
          width: 43px;
          height: 42px;
          background-position: -76px -5px; }
    #container .menu-section.menu1 .menu-block__product, #container .menu-section.menu2 .menu-block__product {
      margin: 0 37px 22px 37px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-name, #container .menu-section.menu2 .menu-block__product .menu-block__product-name {
        font-size: 27.42857px;
        margin: 0 0 16px 0; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-price, #container .menu-section.menu2 .menu-block__product .menu-block__product-price {
        font-size: 27.42857px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-description, #container .menu-section.menu2 .menu-block__product .menu-block__product-description {
        font-size: 20.57143px; }
    #container footer {
      justify-content: center; }
      #container footer .footer__logo {
        display: none; }
      #container footer .footer__general-info {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
        #container footer .footer__general-info .footer__general-info-text {
          font-size: 20px; } }

@media screen and (max-width: 639px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 37px 173px repeat(3, 75px) 66px auto auto 55px;
    grid-template-areas: "header0" "brand-big" "brand-small1" "brand-small2"  "brand-small3" "menu-title" "menu1" "menu2" "footer0"; }
    #container header .header__menu-hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #202529;
      width: 37px;
      height: 37px; }
    #container header .header__logo {
      display: none; }
    #container header .header__menu-title {
      display: block;
      margin: 0 0 0 19px;
      color: white;
      font-size: 10.28571px;
      text-transform: capitalize; }
    #container header .header__menu {
      position: absolute;
      right: 0;
      top: 37px; }
      #container header .header__menu .header__menu-items {
        flex-direction: column;
        justify-content: space-around; }
        #container header .header__menu .header__menu-items .header__menu-item {
          background: #fafafa;
          padding: 0 96px 7px 12px;
          border: 1px solid #e9e9e9; }
          #container header .header__menu .header__menu-items .header__menu-item a {
            color: #444444;
            text-transform: capitalize;
            font-size: 10.28571px; }
    #container .brand-image-big {
      margin-bottom: 4px;
      padding: 19px 0 0 20px; }
      #container .brand-image-big .brand-img-big__title {
        font-size: 19.2px; }
      #container .brand-image-big .brand-img-big__site-name {
        margin: 11px 0 0 0;
        font-size: 14.4px; }
    #container .brand-small {
      margin-bottom: 1px; }
      #container .brand-small .brand-image-small .brand-img-small__title {
        font-size: 18px; }
      #container .brand-small:after {
        content: '\003e';
        width: 71px;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #acd8ad;
        color: white;
        font-size: 36px; }
    #container .menu-section__title .menu-section__title-text {
      margin: 26px 10px 10px 10px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-title {
        font-size: 18px; }
      #container .menu-section__title .menu-section__title-text .menu-section__title-text-description {
        font-size: 9px; }
    #container .menu-section__title .menu-section__title-img {
      display: none; }
    #container .menu-section.menu1 .menu-section__menu-title, #container .menu-section.menu2 .menu-section__menu-title {
      padding: 11px 0 11px 19px;
      font-size: 18px; }
    #container .menu-section.menu1 .menu-section__menu-block-title, #container .menu-section.menu2 .menu-section__menu-block-title {
      font-size: 17.14286px;
      margin: 19px; }
      #container .menu-section.menu1 .menu-section__menu-block-title .sprite, #container .menu-section.menu2 .menu-section__menu-block-title .sprite {
        background-size: 80.5px 55px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-1, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-1 {
          width: 25px;
          height: 25px;
          background-position: -3px -28px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-2, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-2 {
          width: 13px;
          height: 24px;
          background-position: -65px -3px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-3, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-3 {
          width: 30px;
          height: 21px;
          background-position: -3px -3px; }
        #container .menu-section.menu1 .menu-section__menu-block-title .sprite.sprite-Layer-4, #container .menu-section.menu2 .menu-section__menu-block-title .sprite.sprite-Layer-4 {
          width: 21px;
          height: 20px;
          background-position: -38px -3px; }
    #container .menu-section.menu1 .menu-block__product, #container .menu-section.menu2 .menu-block__product {
      margin: 0 19px 11px 19px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-name, #container .menu-section.menu2 .menu-block__product .menu-block__product-name {
        font-size: 17.14286px;
        margin: 0 0 8px 0; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-price, #container .menu-section.menu2 .menu-block__product .menu-block__product-price {
        font-size: 17.14286px; }
      #container .menu-section.menu1 .menu-block__product .menu-block__product-description, #container .menu-section.menu2 .menu-block__product .menu-block__product-description {
        font-size: 13.71429px; }
    #container footer {
      justify-content: center; }
      #container footer .footer__logo {
        display: none; }
      #container footer .footer__general-info {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column; }
        #container footer .footer__general-info .footer__general-info-text {
          font-size: 15px; } }
