body {
  margin: 0; }

.board {
  height: 100vh;
  background-color: #1aa731; }
  .board .board-canvas {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding: 30px 0 0 0; }
    .board .board-canvas .list-wrapper {
      width: 30%;
      margin: 20px;
      padding: 7.5px;
      background-color: #ebecf0;
      border-radius: 3px; }
      .board .board-canvas .list-wrapper .list-header {
        min-height: 20px;
        padding: 10px;
        margin: 0;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        color: #172b4d; }
      .board .board-canvas .list-wrapper .list {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%; }
        .board .board-canvas .list-wrapper .list .list-card {
          min-height: 26px;
          width: inherit;
          background-color: transparent;
          cursor: move; }
          .board .board-canvas .list-wrapper .list .list-card .item-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3px 0;
            background-color: rgba(9, 30, 66, 0.08);
            width: inherit;
            border-radius: 3px; }
            .board .board-canvas .list-wrapper .list .list-card .item-card .item-card__inner-text {
              width: 100%;
              background: -webkit-linear-gradient(45deg, #172b4d 60%, #4a5a75 30%, transparent);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: #172b4d;
              font-size: 12.85714px;
              overflow: hidden;
              padding: 0 0 0 10px; }
          .board .board-canvas .list-wrapper .list .list-card.draggable.over .item-card {
            border: 2px solid rgba(9, 30, 66, 0.18); }
          .board .board-canvas .list-wrapper .list .list-card .item-card__remove-button {
            visibility: hidden;
            background-color: transparent;
            border: none;
            border-radius: 3px;
            transition: background 0.3s ease-in;
            -webkit-transition: background 0.3s ease-in; }
            .board .board-canvas .list-wrapper .list .list-card .item-card__remove-button:hover {
              background-color: rgba(9, 30, 66, 0.18); }
          .board .board-canvas .list-wrapper .list .list-card:hover .item-card__remove-button {
            visibility: visible; }
          .board .board-canvas .list-wrapper .list .list-card:hover .item-card {
            background-color: rgba(9, 30, 66, 0.18); }
      .board .board-canvas .list-wrapper .item-composer {
        padding: 6px;
        width: 100%;
        font-size: 12.85714px;
        font-weight: 400;
        color: #172b4d;
        border: none;
        border-radius: 3px;
        background-color: #ebecf0; }
        .board .board-canvas .list-wrapper .item-composer:hover {
          background-color: rgba(9, 30, 66, 0.08); }
        .board .board-canvas .list-wrapper .item-composer:focus {
          outline: none; }
