@font-face {font-family: 'Arimo-Regular'; src: url(../fonts/Arimo/Arimo-Regular.ttf);}
@font-face {font-family: 'Arimo-Bold'; src: url(../fonts/Arimo/Arimo-Bold.ttf);}
@font-face {font-family: 'Arimo-RegularItalic'; src: url(../fonts/Arimo/Arimo-RegularItalic.ttf);}
@font-face {font-family: 'Arimo-BoldItalic'; src: url(../fonts/Arimo/Arimo-BoldItalic.ttf);}
html {
    font-size: 20px;
    font-family: 'Arimo-Regular', sans-serif;
}
a, a:link, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
#container {
    width: 100%;
    height: 100vh;
    background: white;
}

.pricing {
    margin: auto;
    border-collapse: collapse;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 22px solid #3a4965;
}
.pricing th,
.pricing td {
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
}


/* table cells HEIGHT and WIDTH */

/* HORIZONTAL LAYOUT */

.horizontal__layout .pricing__header.odd th, 
.horizontal__layout .pricing__row-middle td {
    height: 70px;
}
.horizontal__layout .pricing__header.even th {height: 86px;}
.horizontal__layout .pricing__row-last__row {height: 110px;}
.horizontal__layout .pricing__header-cell1, 
.horizontal__layout .pricing__row-cell1 {
    width: 310px;
}
.horizontal__layout .pricing__header-cell2, 
.horizontal__layout .pricing__row-cell2,
.horizontal__layout .pricing__header-cell3, 
.horizontal__layout .pricing__row-cell3,
.horizontal__layout .pricing__header-cell4,
.horizontal__layout .pricing__row-cell4 {
    width: 277px;
}

/* VERTICAL LAYOUT */

.vertical__layout .pricing__header th {height: 112px;}
.vertical__layout .pricing__row-middle1 td, 
.vertical__layout .pricing__row-middle2 td, 
.vertical__layout .pricing__row-middle3 td {
    height: 167px;
}
.vertical__layout .pricing__header th:not(:first-child),
.vertical__layout .pricing__row-middle1 td:not(:first-child),
.vertical__layout .pricing__row-middle2 td:not(:first-child),
.vertical__layout .pricing__row-middle3 td:not(:first-child) {
    width: 157px;
}
.vertical__layout .pricing__header th:first-child,
.vertical__layout .pricing__row-middle1 td:first-child,
.vertical__layout .pricing__row-middle2 td:first-child,
.vertical__layout .pricing__row-middle3 td:first-child {
    width: 198px;
}



/* TABLE CELLS BACKGROUND */

.horizontal__layout .pricing__header.odd th, 
.vertical__layout .pricing__header th:first-child {
    background: #fafafa
}
.horizontal__layout .pricing__header.odd .pricing__header-cell2,
.vertical__layout .pricing__row-middle1 td:first-child{
    background: #89c331
}
.horizontal__layout .pricing__header.odd .pricing__header-cell3,
.vertical__layout .pricing__row-middle2 td:first-child {
    background: #f04a56
}
.horizontal__layout .pricing__header.odd .pricing__header-cell4, 
.vertical__layout .pricing__row-middle3  td:first-child {
    background: #20807c
}

.horizontal__layout .pricing__row-middle.odd td,
.vertical__layout .pricing__header-cell.odd:not(:first-of-type),
.vertical__layout .pricing__row-cell.odd{
    background: #f2f2f2
}
.horizontal__layout .pricing__row-middle.even td,
.vertical__layout .pricing__header-cell.even,
.vertical__layout .pricing__row-cell.even {
    background: #e3e3e3
}
.horizontal__layout .pricing__row-last__row td:first-child {background: #dddddd}
.horizontal__layout .pricing__row-last__row td:not(:first-child) {background: #eeeeee}


/* TABLE CELLS SHADOW BOX  */

.horizontal__layout .pricing__header.odd th:nth-child(2),
.horizontal__layout .pricing__header.even th,
.horizontal__layout .pricing__row-middle td:not(:first-child),
.horizontal__layout .pricing__row-last__row td:not(:first-child)
 {
    outline: none;
    box-shadow: -0.1rem 0 0.2rem #cfcfcf;
}

.vertical__layout .pricing__row-cell.even,
.vertical__layout .pricing__row-cell.odd {
    outline: none;
    box-shadow: 0.02rem -0.1rem 0.2rem #cfcfcf
}

/* HEADER BLOCKS */

.horizontal__layout .pricing__header-title__small, 
.horizontal__layout .pricing__header-title__big {
    color: rgba(72, 72, 72, 255);
}
.horizontal__layout .pricing__row-cell1 > i {
    color: rgba(132, 132, 132, 255);
}
.horizontal__layout .pricing__header-title__small {
    font-size: 18px;
}
.horizontal__layout .pricing__header-title__big {
    font-size: 30px;
    font-family: 'Arimo-Bold', sans-serif
}
.horizontal__layout .pricing__header-title__column {
    font-size: 24px;
    font-family: 'Arimo-Bold', sans-serif;
    color: rgba(255, 255, 255, 255);
}

.vertical__layout .pricing__header-title__small {
    color: rgba(72, 72, 72, 255);
    font-size: 14px;
    font-weight: 700;
}
.vertical__layout .pricing__header-title__big {
    color: rgba(72, 72, 72, 255);
    font-size: 20px;
    font-weight: 700;
}
.vertical__layout .pricing__header-cell.even,
.vertical__layout .pricing__header-cell.odd:not(:first-of-type) {
    color: rgba(72, 72, 72, 255);
    font-size: 20px;
    font-weight: 700;
}
.vertical__layout .pricing__header-cell p:not(.pricing__header-title__small),
.vertical__layout .pricing__row-cell.odd p:nth-child(2),
.vertical__layout .pricing__row-cell.even p:nth-child(2){
    margin: 9px 0 0 0;
}


/* PRICING BLOCKS */

.horizontal__layout .price__markup-amount {
    position: relative;
    font-size: 60px;
    font-family: 'Arimo-Bold', sans-serif;
    color: rgba(72, 72, 72, 255);
}
.horizontal__layout .price__markup-amount .cents {
    position: absolute;
    top: 13px;
    font-size: 24px;
}
.horizontal__layout .price__markup-period {
    font-size: 18px;
    color: rgba(72, 72, 72, 255);

}
.vertical__layout .price__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.vertical__layout .price__block .pricing-package__name {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}
.vertical__layout .price__block .pricing-package__price {
    color: rgba(255, 255, 255, 255);
}
.vertical__layout .pricing-package__price {
    position: relative;
    font-size: 36px;
}
.vertical__layout .pricing-package__price .cents {
    position: relative;
    bottom: 13px;
    right: 10px;
    font-size: 18px;
}
.vertical__layout .pricing-package__price .period {
    position: relative;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
}

/* PRICING TD's BLOCKS */
.horizontal__layout .pricing__row-middle td,
.vertical__layout .pricing__row-cell.odd, 
.vertical__layout .pricing__row-cell.even{
    color: rgba(72, 72, 72, 255);
    font-size: 16px;
}
.horizontal__layout .pricing__row-cell1 > i {
    color: rgba(132, 132, 132, 255);
    font-size: 24px;
}


/* BUY NOW BUTTON */

.vertical__layout .button-buy__now {
    position: relative;
    height: 41px;
    width: 144px;
    padding: 15px 0 13px 0;
    border-radius: 3px;
    border-style: hidden;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}


.horizontal__layout .button-buy__now,
.horizontal__layout .button-contact__us {
    position: relative;
    height: 49px;
    width: 192px;
    padding: 19px 0 17px 0;
    border-radius: 4px;
    border-style: hidden;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.horizontal__layout .button-buy__now::before,
.horizontal__layout .button-contact__us::before,
.vertical__layout .button-buy__now::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.horizontal__layout .button-buy__now:hover::before,
.horizontal__layout .button-contact__us:hover::before,
.vertical__layout .button-buy__now:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.vertical__layout .button-buy__now {
    background: #343434;
    border-bottom: 4px solid #343434;
}
.horizontal__layout .pricing__row-cell1 .button-contact__us {
    background: #404040;
    border-bottom: 9px solid #404040;
}
.horizontal__layout .pricing__row-cell2 .button-buy__now {
    background: #79b027;
    border-bottom: 9px solid #79b027;
}
.horizontal__layout .pricing__row-cell3 .button-buy__now {
    background: #df3a46;
    border-bottom: 9px solid #df3a46;
}
.pricing__row-last__row .pricing__row-cell4 .button-buy__now {
    background: #16736f;
    border-bottom: 9px solid #16736f;
}