$cell-square: 60px;
#game {
    background: repeating-linear-gradient(20deg, #c5c18d, #32612c);
    height: 100vh;
    .game_title {
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 40px 0 20px 0;
    }
    .mole_game {
        margin: auto;
        padding: 0 20px;
        .mole_game-table {
            margin: auto;
            .mole_game-table-cell {
                width: $cell-square;
                height: $cell-square;
                border: 2px solid transparent;
                background-color: #c5c18d;
                cursor: pointer;
                &:hover {
                    background-color: #32612c;
                }
                &.active {
                    animation: 0.1s steps(5, start) infinite alternate mole;
                    @keyframes mole {
                        to {
                            background: blue;
                        }
                    }
                }
                &.success {
                    background: green;
                }
                &.failure {
                    background: indianred;
                }
            }
        }
    }
}