#game {
  background: repeating-linear-gradient(20deg, #c5c18d, #32612c);
  height: 100vh;
}
#game .game_title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 40px 0 20px 0;
}
#game .mole_game {
  margin: auto;
  padding: 0 20px;
}
#game .mole_game .mole_game-table {
  margin: auto;
}
#game .mole_game .mole_game-table .mole_game-table-cell {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  background-color: #c5c18d;
  cursor: pointer;
}
#game .mole_game .mole_game-table .mole_game-table-cell:hover {
  background-color: #32612c;
}
#game .mole_game .mole_game-table .mole_game-table-cell.active {
  animation: 0.3s steps(5, start) infinite alternate mole;
}
@keyframes mole {
  to {
    background: blue;
  }
}
