$color-background-1: #1aa731;
$color-background-2: #ebecf0;
$color-background-3: rgba($color: #091E42, $alpha: 0.08);
$color-background-4: rgba($color: #091E42, $alpha: 0.18);
$color-font-1: #172b4d;
$color-font-2: #4a5a75;
$font-size-main: 30px;
$margin-dimmension: 30px;
$padding-dimmension: 30px;

body {
    margin: 0;
}
.board {
    height: 100vh;
    background-color: $color-background-1;
    .board-canvas {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        padding: $padding-dimmension 0 0 0;
        .list-wrapper {
            width: 30%;
            margin: $margin-dimmension * 2/3;
            padding: $padding-dimmension * 1/4;
            background-color: $color-background-2;
            border-radius: 3px;
            .list-header {
                min-height: 20px;
                padding: $padding-dimmension*1/3;
                margin: 0;
                text-transform: uppercase;
                font-size: $font-size-main * 1/2;
                font-weight: 700;
                color: $color-font-1;
            }
            .list {
                display: flex;
                position: relative;
                flex-direction: column;
                width: 100%;
                .list-card {
                    min-height: 26px;
                    width: inherit;
                    background-color: transparent;
                    cursor: move;
                    .item-card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: $margin-dimmension * 1/10 0;
                        background-color: $color-background-3;
                        width: inherit;
                        border-radius: 3px;
                        .item-card__inner-text {
                            width: 100%;
                            background: -webkit-linear-gradient(45deg, $color-font-1 60%, $color-font-2 30%, transparent);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            color: $color-font-1;
                            font-size: $font-size-main * 3/7;
                            overflow: hidden;
                            padding: 0 0 0 $padding-dimmension * 1/3;
                        }
                    }
                    &.draggable.over {
                        .item-card {
                            border: 2px solid $color-background-4;
                        }
                    }
                    .item-card__remove-button {
                        visibility: hidden;
                        background-color: transparent;
                        border: none;
                        border-radius: 3px;
                        transition: background 0.3s ease-in;
                        -webkit-transition: background 0.3s ease-in;
                        &:hover {
                            background-color: $color-background-4;
                        }
                    }
                    &:hover .item-card__remove-button {
                        visibility: visible;
                    }
                    &:hover .item-card {
                        background-color: $color-background-4;
                    }
                }
            }
            .item-composer {
                padding: $padding-dimmension*1/5;
                width: 100%;
                font-size: $font-size-main * 3/7;
                font-weight: 400;;
                color: $color-font-1;
                border: none;
                border-radius: 3px;
                background-color: $color-background-2;
                &:hover {
                    background-color: $color-background-3
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}