body{margin:0}
body .container.film-list .card{margin:5px 0}
body .container.film-list .row {margin: 0;}
body .container.film-list .row .card:hover{cursor:pointer;background-color:rgba(9,30,66,0.18)}
body .container.film-list .row .card .character-card{min-height:50px;text-align:center;}
